@media only screen and (max-width: 360px) and (min-width: 320px){
    html{
        font-size:13.65px;
    }
}
@media only screen and (max-width: 375px) and (min-width: 360px){
    html{
        font-size:23.4375px;
    }
}
@media only screen and (max-width: 390px) and (min-width: 375px){
    html{
        font-size:23.4375px;
    }
}
@media only screen and (max-width: 414px) and (min-width: 390px){
    html{
        font-size:17.64px;
    }
}
@media only screen and (max-width: 640px) and (min-width: 414px){
    html{
        font-size:17.664px;
    }
}
@media screen and (min-width: 640px){
    html{
        font-size:27.31px;
    }
}
.main{
    width: 100%;
    height: auto;
    min-height: 100%;
    max-width: 1024px;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
}
.main_bg{
    background-size: 100% 100%;
}
.main_explain{
    overflow-wrap: anywhere;
    position: absolute;
}
.main_info{
    width: 90%;
    margin: 0 auto;
}
.main_info h4{
    text-align: center;
}.
 main_info_p{
    font-size: 20px;
    line-height: 35px;
    text-indent: 20px;
}
.main_explain h3,.main_explain p{
    margin: 0;
    padding: 0;
    word-wrap:break-word;
    word-break:normal;
}

.title{
    display: flex;
    position: absolute;
    right: 0;
    top:10%;
    color: #fff;
    font-size: 0.7rem;
    background:#000;
    opacity:0.6;
    border-radius:8px 0 0 8px;
    padding: 3px 10px;
    text-decoration:none;
}
.content{    
    width: 90%;
    height: auto;
    min-height: 60%;
    max-width: 1024px;
    margin: 0 auto;
    background-size: 100% 100%;
    position: absolute;    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}